@model IEnumerable<HR.Models.Designation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Designation</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DesignationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DesignationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DesignationID })
        </td>
    </tr>
}

</table>
